@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}


*{
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--secondary-color);
    width: 100%;
    position: fixed;
    z-index: 100;
}


.header-content {
    color: #eeeeee;
    padding: 25px 0; 
    margin-left:50px;
    line-height: 1px;
}

.header-content h1 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header .form-search {

    margin: 15px 0 0 0;
}

header .search {
    border: 2px solid var(--primary-color);
    padding: 15px 200px 15px 10px;
    background-color: #eeeeee;
    border-radius: 10px;
}

.social {
    margin: 45px 50px 0 0;
}

.fab {
    color: #eeeeee;
    font-size: 2rem;
    margin-right: 10px;
    transition: transform .75s;
}

.fab:hover {
    transform: scale(1.2);
    
}

.banner {
    background-image: url(movie_poster_design.jpeg);
    height: 350px;
    margin: 0 0 50px 0;
}

.form-search {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    
}

.search {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie {
    width: 250px;
    height: 600px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
    
}

.movie-info {
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 1rem;
    letter-spacing: 0.5px;

}

.movie-info {
    margin-top: 0;
}

.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: rgb(178, 237, 178);
}

.movie-info span.orange {
    color: rgb(255, 141, 1);
}

.movie-info span.red {
    color: rgb(246, 0, 0);
}


.overview {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    overflow:auto;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview
{
    transform: translateY(0);
}


footer {
   
    
    background-color: var(--secondary-color);
    width: 100%;
    height: 100px;
   
}




.footer-content {
    display: flex;
    justify-content: center;
    
    margin: 50px;
    color: #eeeeee;
    
}

.footer-content a {
    margin-top: 25px;
    text-decoration: none;
    color: #eeeeee;
    transition: transform .75s;
}

.footer-content a:hover {
    text-decoration: underline;
    
}


@media only screen and (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        position: relative;
      
    }

    header .search {
        border: 2px solid var(--primary-color);
        padding: 10px 100px 15px 10px;
        background-color: #eeeeee;
        border-radius: 10px;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 0; 
        margin-left: 0;
        
    }

    .banner {
        display: none;
    }

    .social {
        margin: 25px 0 25px 0;
    }
}



